<div>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    Inicio
                </a>
            </li>
            <li>
                <a href="{% url 'projects' %}">
                    Proyectos
                </a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">
                    Tareas
                </a>
            </li>
            <li>
                <a href="{% url 'signin' %}">
                    Iniciar Sesión
                </a>
            </li>
            <li>
                <a href="{% url 'signup' %}">
                    Registrarse
                </a>
            </li>
        </ul>
    </nav>
</div>